.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.color-1 {
    color: #211E1F;
}

.color-2 {
    color: #ED7368;
}

.color-3 {
    color: #9FCAB8;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #E5E2D0;
    margin: 0 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

div {
    margin-bottom: 1.8rem;
}

.icon{
    margin-bottom: 0px;
    width: 200px;
    height: 100px; 
}

.location {
    display: flex;
    flex-direction: column;
    padding: 60px 0;
    z-index: 1;
}

.container {
    width: 700px;
    height: 400px;
    margin: auto;
    padding: 4rem 5rem;
    position: relative;
    border: none;
    background-color: #9FCAB8;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.logo {
    width: 155px;
    height: 39px;
}

.search-box{
    background: #f59435;
    border-radius: 40px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
}

.search-box img{
    height: 20px;
    width: 20px;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    color: #fff;
    padding: 0;
    line-height: 40px;
    width: 0;
    transition: .5s;
    font-family: 'Noto Sans', sans-serif;
}

.search-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #f59435;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5px;
}

.search-box:hover > .search-txt {
    width: 150px;
    padding: 0 6px;
}

.search-txt::-webkit-input-placeholder {
    color: #fff;
}

.img-woman {
    width: 423px;
    height: 423px;
}

a {
    text-decoration: none;
    color: #211e1f;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
}

br {
    display: block;
    margin: 0 0;
}

.text {
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    letter-spacing: 0.2em;
    margin: 15px;
}

.title {
    font-size: 2em;
    margin-bottom: 10rem;
    margin-top: 3rem;
}

.subtitle {
    font-size: 1.5em;
}

header {
    max-width: 100%;
	margin: 0 0;
	display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 10%;
    position: sticky;
    top: 0px;
    background-color: #E5E2D0;
    z-index: 2;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

form h3, h5 {
    font-weight: normal;
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    padding: 0 10px;
}

form a:hover {
    color: #F59435;
}

form input[type="text"] {
    background-color: #9FCAB8;
    border: 1px solid #9FCAB8;
    border-radius: 30px;
    padding: 5px 20px;
    height: 45px;
    width: 30%;
    margin: 10px 0;
    font-family: 'PT Sans', sans-serif;
    font-size: 1em;
    font-style: italic;
}

form input[type="text"]:focus {
    outline: none !important;
    border:1px solid f59435;
    box-shadow: 0 2px 1px #f59435;
}

.container img {
    position: absolute;
    top: 7%;
    right: -2%;
}

.popular {
    width: 100%;
    height: 600px;
    background-color: #211E1F;
    
}

.content {
    display: flex;
    align-items: center;
    flex: 1 0 auto;
}

.content-popular {
    border-radius: 20px;
    overflow: hidden;
    height: 520px;
    width: 935px;
    position: relative;
    top: 50px;
    left: 50%;
    transform: translate(-50%);
}

.navigation-popular {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}

.popular input{
    display: none;
}

.slides {
    width: 500%;
    display: flex;
}

.slide-popular {
    width: 20%;
    transition: .6s;
}

.slide-popular img{
    width: 100%;
    height: 100%;
}

.slide-bar {
    width: 70px;
    height: 17px;
    border: 2px solid #fff;
    margin: 6px;
    border-radius: 10px;
    cursor: pointer;
    transition: .6s;
}

.slide-bar:hover {
    background-color: #ed7368;
}

#slide-1:checked ~ .current-image{
    margin-left: 0;
}

#slide-2:checked ~ .current-image{
    margin-left: -20%;
}

#slide-3:checked ~ .current-image{
    margin-left: -40%;
}

#slide-4:checked ~ .current-image{
    margin-left: -60%;
}

.event-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.2em;
    background-color: #009495;
    margin-bottom: 0;
    color: #211e1f;
}

.info img {
    width: 50%;
    height: 100%;
}

.info p {
    padding: 30px;
}

.week-events {
    display: flex;
    flex-direction: column;
}

.week-text {
    background-color: #F1A59A;
    height: 80px;
    display: flex;
    justify-content: flex-end;
}

div.cards, div.cards-calendar {
    display: flex;
    padding: 32px;
    justify-content: center;
}

div.cards-calendar {
    flex-wrap: wrap;
    padding: 0 10%;
}

div.cards section.card:hover, div.cards-calendar section.card:hover{
    background-color: #009495;
}

div.cards section.card, div.cards-calendar section.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #9FCAB8;
    padding: 1rem 1rem;
    max-height: 468px;
    margin-left: 32px;
    font-family: 'PT Sans', sans-serif;
}

div.cards-calendar section.card {
    margin: 10px;
    justify-content: space-between;
}

div.cards-calendar section.card a:hover {
    color: #f59435;
}

div.cards section.card:first-child {
    margin-left: 0;
}

div.cards section.card .icon {
    width: 184px;
    height: 184px;
}

div.cards section.card img {
    width: 100%;
}

div.cards section.card h3 {
    font-size: 100%;
    margin: 16px 0;
}

div.cards section.card span {
    font-weight: 300;
    max-width: 240px;
    font-size: 80%;
    margin-bottom: 16px;
}

div.cards section.card button {
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    border-radius: 32px;
    border: 0;
    cursor: pointer;
    font-size: 80%;
    font-weight: 500;
    color: #fff;
    margin-bottom: 16px 0;
}

.btn {
    display: flex;
    justify-content: center;
}

.calendar-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 15px;
    background-color: #009495;
    color: #E5E2D0;
    border-radius: 30px;
    font-family: 'PT Sans', sans-serif;
    font-size: 1em;
    border: none;
    height: 45px;
}

.calendar-btn:hover {
    background-color: #007575;
    cursor: pointer;
}

.register {
    width: 100%;
    height: 700px;
    background-image: url("../assets/map.png");
    background-color: #ED7368;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
}

.register h1 {
    width: 300px;
    text-align: center;
    font-size: 2.7em;
}

footer {
    background-color: #9FCAB8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    font-family: 'PT Sans', sans-serif;
    margin-top: auto;
    margin-top: auto;
}

.footer-item {
    float: left;
    margin: 10px;
    padding-left: 10px;
}

.footer-item + .footer-item {
    border-left: 3px solid #F59435;
}

/* responsividade */
@media screen and (max-width: 935px) {
    .content-popular {
        height: 70%;
        width: 90%;
    }

    .popular {
        height: 330px;
    }

    div.cards-calendar section.card{
        width: 41.66%;
    }

    #week p {
        font-size: 1em;
    }

    form input[type="text"] {
        width: 50%;
    }
}

@media screen and (max-width: 720px) {
    div.cards, div.calendar {
        flex-direction: column;
    }

    div.cards section.card{
        margin-left: 0;
        margin-bottom: 32px;
    }

    div.cards-calendar section.card{
        width: 100%;
    }

    div.cards section.card:last-child {
        margin-bottom: 0;
    }

    div.cards section.card button {
        font-size: 70%;
    }

    #nav-popular, #nav-week, #btn-search {
        display: none;
    }

    .container{
        width: 90%;
    }

    .container .text {
        width: 100%;
    }

    .container img {
        display: none;
    }

    .week-text {
        align-items: center;
    }

    .info {
        flex-direction: column;
    }

    .info img {
        width: 100%;
        height: auto;
    }

    form input[type="text"] {
        width: 70%;
    }
}